
/*
 *  KMess Style sheet.
 */


/*
 * Note for editors,
 * please understand this page was fully tested at the following browsers:
 * - Internet Explorer 6.0
 * - Konqueror 3.5
 * - Mozilla Firefox 1.6
 * 
 * While this may be a Linux website, I think it's important to make
 * this page look correctly in MSIE as well. It gives a poor impression
 * of our product to Linux-switchers if we didn't.
 */



/* --------- basic page --------- */

body
{
  color:             #111;
  background-color:  #E6DEDE;
  font-family:       "Tahoma", "Verdana", "Arial", serif;
  font-size:         13px;

  /* we dictate the margin */
  padding: 0;
  margin:  12px;
}


/* --------- resets  --------- */

a img { border-width: 0; } /* msie */

a:active,
a:focus,
input:active,
input:focus { outline:0; } /* remove firefox 3 link border */

#content a[name] { padding:0; } /* firefox 3 / safari 3 */


/* --------- page title --------- */

#top
{
  /* border adn background color is separate from h1,
     so the png-alpha filter can be applied to the h1 for MSIE. */
  /* draw the box and border */
  background-color: #99ccff;
  border:           1px solid #82A0C8;
}

h1
{
  /* hide the text, keep visible for text/braille readers */
  text-indent: -999em;

  /* put logo in background */
  background-image:    url(/resources/img/kmesslogo.png);
  background-repeat:   no-repeat;

  /* reset margin */
  margin-bottom: 0;

  /* instead of background-position, add margin to h1 for
     compatibility with png-alpha filter for MSIE */
  margin-left: 0px;
  margin-top: 3px;
  height:     117px;
}

h1 a
{
  display: block;
  height: 115px;
  width:  250px;
}

hr,
h2,
.hide
{
  display: none;
}

#content hr,
#centerwrapper h2
{
  display: block;
}



/* --------- content titles --------- */

h2,
#content
{
  background-color: #FFFFFF;
  border:           1px solid #AAA4A4;
}

h2
{
  text-align:    center;
  font-size:     13px;
  padding:       5px;
  margin-top:    0;
  margin-bottom: 2px;
}

h3
{
  color:         #ff0000;
  font-size:     13px;
  font-weight:   normal;
  margin-bottom: 0;
}

h4
{
  font-size:     12px;
  margin-bottom: 5px;
}

h4.faq_question
{
  font-size:  13px;
  margin-top: 30px;
}

.planetMainPage h2
{
  text-align: right;
  padding: 5px 0;
  margin: 1.5em 0 0 0;
  font-size: 150%;
  border: 0;
}

.planetMainPage h3
{
  font-size: 14pt;
  font-weight: bold;
  color: rgb(32, 32, 32);
  margin: 0.2ex 0.5em 0.2ex 0;
}

.planetMainPage h4
{
  font-size: 12pt;
  font-weight: bold;
  color: rgb(72, 72, 72);
  margin: 0.2ex 1em 0.1ex 0;
  border-bottom: 1px dotted gray;
}

.planetMainPage h3 a,
.planetMainPage h4 a
{
  text-decoration: none;
  color: inherit;
  border-bottom-color: inherit;
}

.planetMainPage .content
{
  padding-bottom: 1ex;
}



/* --------- content margins --------- */

#content
{
  /* indent the sections so the border has some spacing */
  padding-left:  5px;
  padding-right: 5px;

  /* have a decent height */
  min-height: 300px;  /* unsupported by MSIE */
}

div.section
{
  /* include a top line by default */
  margin-top: 20px;
  border-top: 1px solid #000000;

  /* indent the contents */
  padding-left:  20px;
  padding-right: 20px;

  clear: left;
}

div.section:first-child,
div.first_section
{
  /* the first_section class was added by XSL for MSIE.
     MSIE does not support the CSS2 :first-child selector */
  margin-top:       0;
  border-top-width: 0px;
}

p
{
  margin-top: 5px;
}

ul.list
{
  padding-left: 30px;
  margin-left: 0;
  list-style-position: inside;  /* if positioned right of floating screenshot */
}



/* --------- sidebar, menu --------- */

/*
  If you're seriously thinking about getting
  everything right pixel-wise in each browser,
  you need to take care of this issue:
  http://en.wikipedia.org/wiki/Image:Box-model-bug.png
  (and place alternative widths for MSIE in a '* html' prefixed selector)
 */

dl.box
{
  padding:       0;
  width:         150px;
  margin-top:    0;
  margin-left:   0;
  margin-right:  0;
  margin-bottom: 16px;
}

dl.box dt,
dl.box dd
{
  text-align: center;
  margin:     0;  /* get rid of the default indent */
}

dl.box dt
{
  background-color: #0066cc;
  color:            #FFFFFF;
  font-weight:      bold;
  padding:          1px;
}

dl.box dd
{
  background-color: #99ccff;
  padding: 0.05em 0.1em;

  border-top:    1px solid #0081dd;
  border-left:   1px solid #82A0C8;
  border-right:  1px solid #82A0C8;
  border-bottom: 1px solid #82A0C8;

  line-height: 135%;
}

dl.box dd.middle
{
  border-bottom: 0;
  padding-bottom: 0.2em;
}

dl.box dd .ohlohWidgets a
{
  margin: 0 auto 5px auto;
}

ul.menu
{
  margin:  0;
  padding: 1px;
}

ul.menu li
{
  display:         block;
  list-style-type: none;  /* for MSIE */
}

ul.menu li.onpath
{
  font-weight: bold;
}



/* --------- homepage --------- */

p#downloadnow
{
  float: left;
  display: inline;

  border: 1px solid #06f;
  margin-bottom: 0.5em;
}

p#downloadnow a.main
{
  display: block;
  padding: 0.2em 1em 0.2em 0.2em;
  font-weight: bold;
}

p#downloadnow img
{
  vertical-align: middle;
}

p#downloadinfo
{
  clear: left;
}

p#downloadinfo small
{
  padding-left: 0.5em;
  font-size: 80%;
}

p#downloadother
{
  padding-left: 0.5em;
  font-size: 90%;
}



/* --------- content images --------- */

div.image_box
{
  margin-top:    10px;
  margin-bottom: 40px;
  text-align: center;
}

div.image_box_left
{
  float:         left;
  display:       inline;   /* for MSIE */
  margin-top:    5px;
  margin-left:   0;
  margin-right:  20px;
  margin-bottom: 0;
}

div.image_box_right
{
  float:         right;
  display:       inline;   /* for MSIE */
  margin-top:    5px;
  margin-left:   20px;
  margin-right:  0;
  margin-bottom: 0;
}

* html div.image_box_left,
* html div.image_box_right
{
  position:      relative; /* for MSIE or it will hide the float */
}

p.image_caption a.zoomlink
{
  margin: 10px;
}


div.image_box_left  p.image_par,
div.image_box_right p.image_par
{
  /*  wrap the caption below the image for floating images */
  display: table-cell;
/*  padding-left:  40px;
  padding-right: 40px; */
}

div.image_box_left  p.image_caption,
div.image_box_right p.image_caption
{
  display:      table-caption;
  caption-side: bottom;
}



/* --------- highlight messages --------- */

div.important
{
  border:           1px solid #0066cc;
  background-color: #99ccff;
  padding:          0.5em;
  text-align:       center;
  width:            28em;
  margin-left: 1em;
  float: right;
}

div.important h3
{
  color:       #000;
  font-weight: bold;
  border:      0;
  padding:     0;
  margin:      0;
  background-color: transparent;
}



/* --------- toc list --------- */

dl.toc img.toc_icon
{
  float:         left;
  display:       inline;   /* for MSIE */
  margin-right:  15px;
  margin-bottom: 5px;
}

* html dl.toc img.toc_icon
{
  position:      relative; /* for MSIE or it will hide the float */
}

dl.toc dt
{
  clear: both;
  margin: 0 10px 0 0;
  padding: 0;
}

dl.toc dd
{
  margin: 0 0 7px 0;
  padding: 0;
}

dl.toc dd.with_icon
{
  margin-left: 65px;
}

dl.toc span.toc_title
{
  padding-top: 8px;
  display:     block;
  height:      1.5em;
  font-size:   15px;
}

dl.toc:after
{
  content: "."; 
  display: block; 
  height: 0;
  clear: both; 
  visibility: hidden;
}

* html dl.toc { height: 1px; }
*+html dl.toc { min-height: 0; }



/* --------- authors page --------- */

dl.authors_toc img.toc_icon
{
  border: 1px solid #AAA4A4;
  margin-bottom: 10px;
}

dl.authors_toc span.toc_title 
{
  padding-top: 2px;
}

dl.authors_toc dd
{
  margin-bottom: 10px;
}

dl.credits_toc dt
{
  float: left;
}

dl.credits_toc dt span.toc_title
{
  /* revert.. */
  font-size: 100%;
  display: inline;
}

dl.credits_toc dd
{
  margin-left: 200px;
}



/* --------- hyperlinks --------- */

a
{
  color:           #0000FF;
  text-decoration: none;
}

a:hover
{
  color:           #FF0000;
  text-decoration: none;
}



/* --------- misc formatting --------- */

span.command  { color: #003399; }
span.argument { color: #3DB73D; }
span.variable { color: #3DB73D; font-style: italic; }
span.comment  { color: #3DB73D; font-style: italic; }

span.file,
span.code,
pre
{
  font-size:    12px;
  font-family:  monospace, fixed;
}

pre
{
  margin-left: 3px;
  border-left: 2px solid #cce;
  padding: 0.5em;
  overflow: auto;
}



/* --------- position all wrappers --------- */

#container
{
  position:   relative; /* influences the position:absolute of the leftwrapper,rightwrapper */
  margin:     0;        /* stop the cascade from the body tag */
  margin-top: 10px;
}

#leftwrapper
{
  position: absolute;
  left:     0;
  top:      0;
  width:    160px;
}

#rightwrapper dl.box
{
  right: 0;
}

#centerwrapper
{
  left:   0;
  top:    0;
  /* using padding here instead of margin,
     because MSIE misinterprets the box-model. */
  padding-right: 160px;
  padding-left:  160px;
  padding-top:   0;
}

#rightwrapper
{
  position: absolute;
  right:    0;
  top:      0;
  width:    160px;
}

#rightwrapper dl.box
{
  margin-left: 10px; /* fills up the box, 10 + 150 = 160 */
}

.clear
{
  clear:    left;
  height:   1px; /* Konqueror works with 0px, Mozilla requires 1px */
  overflow: hidden;
}

