/*
 * This is a workarround for the lack of PNG alpha-channel support in MSIE.
 * It renders the same image through DirectX instead, which renders it just fine.
 */

* html h1
{
  /* filter is a non-standard CSS tag, so that's why it's in a separate CSS file */
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/resources/img/kmesslogo.png');
}


* html div#fancy_overlay
{
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

