/*
 * Default example stylesheet for Planet pages.
 */

.planetMainPage h1
{
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 175%;
  padding: 0px;
  margin: 0.5em 0 0 0;
}

.planetMainPage h2
{
  font-size: 150%;
  margin: 1em 0 0 0;
  border: 0;
  padding: 0;
  text-align: left;
}

.planetMainPage h3
{
  font-size: 15pt;
  color: rgb(32, 32, 32);
  margin: 0.2ex 1em 0.2ex 0.5em;
}

.planetMainPage h4
{
  font-size: 13pt;
  color: rgb(72, 72, 72);
  margin: 0.5ex 1em 0.1ex 1em;
}

.planetMainPage h3 a,
.planetMainPage h4 a
{
  text-decoration: none;
  color: inherit;
  border-bottom-color: inherit;
}

.planetMainPage h3 a
{
  border-bottom: 1px dashed;
}

.planetMainPage h4 a
{
  border-bottom: 1px dotted;
}

.planetMainPage div.content
{
  text-align: justify;
  padding: 0 20px;
  margin: 0 1em 0 1em;
}

.planetMainPage div.content img.hidefromplanet
{
  display: none;
}

.planetMainPage div.content pre
{
  font-family: monospace, fixed;
  border: 1px dashed #666;
  margin: 1em 2em;
  padding: 0.7em;
}

.planetMainPage blockquote
{
  margin: 1em;
  padding: 0 1ex 0 1em;
  border-left: 3px solid #ddd;
}

